@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: ;
    --card-foreground: ;

    --popover: ;
    --popover-foreground: ;

    --primary: ;
    --primary-foreground: ;

    --secondary: 42 96% 53%;
    --secondary-foreground: ;

    --muted: ;
    --muted-foreground: ;

    --accent: 35, 100%, 18%;
    --accent-foreground: ;

    --destructive: ;
    --destructive-foreground: ;

    --border: ;
    --input: ;
    --ring: ;
    --radius: 0.5rem;
  }

  /* .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: ;
    --card-foreground: ;

    --popover: ;
    --popover-foreground: ;

    --primary: ;
    --primary-foreground: ;

    --secondary: 42 96% 53%;
    --secondary-foreground: ;

    --muted: ;
    --muted-foreground: ;

    --accent: 35, 100%, 18%;
    --accent-foreground: ;

    --destructive: ;
    --destructive-foreground: ;

    --border: ;
    --input: ;
    --ring: ;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    overflow-x: hidden;
  }
}
